<footer class="site-footer">
    <div class="container">
        <div class="footer-inner">
            <div class="copyright">
                <a href="https://itankar.com/about/" target="_blank" style="text-decoration:none"><b>Piyush Itankar</b></a> &#169 2021. 
                Powered by <a href="https://ghost.org/" target="_blank" style="text-decoration:none"><b>Ghost</b></a> 
                and <a href="https://github.com/pitankar/Ruby" target="_blank" style="text-decoration:none"><b>Ruby</b></a> theme.
            </div>
        </div>
    </div>
</footer>
